<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {# font aweasome #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {# tailwind CSS #}
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/main.css') }}" />
    <title>Cifrar Chat</title>
  </head>
  <body class="min-h-screen bg-black text-zinc-100 antialiased">
    {% include "partials/navbar.html" %}
    {% include "pages/home_page.jinja" %}
     {% include "partials/footer.html" %}
  </body>
</html>
