<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/main.css') }}" />
    <title>Cifrar Chat</title>
  </head>
  <body class="min-h-screen{% if body_class %} {{ body_class }}{% endif %}">
  
  {# header #}
  <header class="site-header pt-2 sm:px-4">
    {% include "partials/navbar.html" %}
  </header>

    {# pages #}
    {% set active_page = page_template | default("pages/home_page.jinja") %}
    {% include active_page %}

    {# footer #}
    <footer id="contact" class="px-4 pb-6 pt-4 sm:px-6 lg:px-8">
        {% include "partials/footer.html" %}
    </footer>
  </body>
</html>
