<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Cifrar Chat</title>
  </head>
  <body class="min-h-screen bg-black text-zinc-100 antialiased">
    {% include "partials/navbar.jinja" %}
    {% include "/pages/home_page.jinja"%}
     {% include "partials/footer.jinja" %}
  </body>
</html>
